.library-wrapper {
	height: 100%;
	margin: 0px 5px 0px 50px;
}

.library {
	height: 100%;
}

.playlist {
	height: 100%;
	background-color: white; 
}

.listItem {
	background-color: #0081cc;
	border: 1px solid #103b59;
	padding-left: 10px;
	position: relative;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    font-weight: bold;
    transition-property: color, background-color, border-color;
	transition-duration: .3s;
	transition-timing-function: ease-in;
}

.listItem:hover {
	border-color: black;
	background-color: black;
	color: #0081cc;
}

.listItem:hover img:not(:hover) {
    filter: contrast(0%);
}

.listItem .album {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	margin: 0px;
	overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 480px) {
.listItem .nowPlayingInd {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translate(0%, -50%);
    color: black;
    font-size: 30px;
}
}

.artistList {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	
}

.artistList a {
	text-decoration: none;
}

.artistItem {
	width: 22vw;
	height: 22vh;
	margin: 5px 0px 5px 10px;
	background-color: #0081cc;
	border: 1px solid #103b59;
	text-align: center;
	justify-items: left;
}

.artistItem .artistImg {
	float: left;
	height: 100%;
	width: 50%;
}

@media screen and (max-width: 480px) {

.listItem .nowPlayingInd {
	display: inline;
	color: black;
	z-index: 0;
	font-size: 30px;
	height: 30px;
	width: 35px;
	padding-left: 10px;
	float: right;
}

.listItem .title {
	font-family: 'KoHo', sans-serif;
	font-size: 20px;
	margin: 0px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
}

.listItem .artist {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	margin: 0px;
	overflow: hidden;
    text-overflow: ellipsis;
}

}

@media screen and (min-width: 480px) {

.listItem .nowPlayingInd {
	display: inline;
	color: black;
	font-size: 30px;
}

.listItem .title {
	font-family: 'KoHo', sans-serif;
	font-size: 20px;
	margin: 0px;
	overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
}


.listItem .artist {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	margin: 0px;
	overflow: hidden;
    text-overflow: ellipsis;
}


}