.musicbar-wrapper {
	position: fixed;
	display: flex;
	bottom: 0px;
	width: 100%;
	height: 20vh;
	background-color: #25658a;;
}

.MusicBar{
	width: 100%;
	height: 100%;
	position: relative;
	padding: 0px 0px 0px 0px;
	margin: 0px;
	text-align: center;
	background-color: black;
	border-top: solid;
	border-width: 2px;
	border-color: #0081cc;
	min-height: 100px;
}

.PlayButton{
	//border-radius: 100%;
	height: 8.2vh;
	width: 8.2vh;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);
	background-color: black;
	border-color: #0081cc;
	border-width: 0.5vh;
	border-style: solid;
	color: #0081cc;
	font-size: 3vh;
}

.PlayButton:hover {
	
}

.sliderTrack {

}

.slider {
	-moz-appearance: none;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #33393f; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.5; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    display: block;
    position: absolute;
    padding: 0px;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #0081cc; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #0081cc; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.volumeSliderWrapper {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	align-items: center;
	width: 30vw; /* Full-width */
    min-width: 100px;
    right: 2.2%;
    top: 50%;
    -webkit-transform: translate(0%, -18%);
 	-moz-transform: translate(0%, -18%);
 	-ms-transform: translate(0%, -18%);
}

.volume {
	display: flex;
}

.volumeButton {
	
}

#volumeSlider {
	-moz-appearance: none;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    min-width: 60px;
    height: 10px; /* Specified height */
    background: #33393f; /* Grey background */
    border: solid 1.5px #0081cc;
    outline: none; /* Remove outline */
    opacity: 0.5; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    padding: 0px;
}

/* Mouse-over effects */
#volumeSlider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
#volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #0081cc; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#volumeSlider::-moz-range-thumb {
	-moz-appearance: none; /* Override default look */
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #0081cc; /* Green background */
    border-radius: 0px;
    cursor: pointer; /* Cursor on hover */
}

.SliderWrapper{
	position: absolute;
 	top: 0px;
 	width: 98%;
 	height: 10px;
 	background-color: transparent;
 	/*display: inline-block;*/
 	left: 50%;
 	transform: translate(-50%, 0%);
 	-moz-transform: translate(-50%, 0%);
}

#ball{
	cursor: pointer;
	cursor: -webkit-grab;
	height: 10px;
	width: 10px;
	background-color: #0081cc;
	position: absolute;
	left: 0px;
	transform: translate(0px,0px);
	fill: #0081cc;
}

#ball:active{
	cursor: -webkit-grabbing;
}

.nowPlaying {
	width: 35vw;
	font-weight: bold;
	color: #0081cc;
	background-color: transparent;
	position: absolute;
	left: 6%;
	top: 50%;
	transform: translate(0%, -35%);
}

.nowPlaying .title {
	font-family: 'KoHo', sans-serif;
	font-size: 100%;
	overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap; 
	margin: 0px;
}

.nowPlaying .artist {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 100%;
	overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap; 
	margin: 0px;
}

.nowPlaying .album {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 100%;
	overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap; 
	margin: 0px;
}

.totalTimeTag {
	float: right;
	font-family: 'Josefin Sans', sans-serif;
	color: #0081cc;
	font-size: 2.0vh;
	font-weight: bold;
	margin-top: 15px;
}

.remainingTimeTag {
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	color: #0081cc;
	font-size: 2.0vh;
	font-weight: bold;
	margin-top: 15px;
}

#slider2{
	position: absolute;
	width: 95%;
	top: 5%;
	left: 50%;
 	transform: translate(-50%, 0%);
 	-webkit-transform: translate(-50%, 0%);
 	-moz-transform: translate(-50%, 0%);
 	-ms-transform: translate(-50%, 0%);
}

#track2 {
	position: absolute;
	height: 10px;
	width: 100%;
	background-color: #32393f;
	border: solid 1.5px #0081cc;
	opacity: 0.5; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: opacity .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

#track2:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

#thumb2 {
	position: absolute;
	height: 10px;	
	width: 10px;
	background-color: #0081cc;;
}

#trail2 {

}

.volumeButton i{
	color: #0081cc;
}

.loopButton {
	color: gray;
 	font-size: 20px;
 	margin: 0px 5px;
}

.loopButtonActive {
	color: #0081cc;
}

.shuffleButton {
	color: gray;
 	font-size: 20px;
 	margin: 0px 5px;
}

.shuffleButtonActive {
	color: #0081cc;
}

@media screen and (max-width: 480px) {
	.albumart {
		display: none;
	}
}

@media screen and (min-width: 480px) {
	.albumart {
		height: 100%;
		width: 12vw;
		max-width: 105px;
	}
}

@media screen and (max-height: 480px) {
	#slider2{
		position: absolute;
		width: 50%;
		left: 62%;
	}

	.nowPlaying {
		width: 22vw;
		font-weight: bold;
		color: #0081cc;
		background-color: transparent;
		position: absolute;
		left: 2%;
		top: 5%;
		transform: translate(0%, 0%);
	}

	.nowPlaying .title {
		font-size: 2.5vw;
	}

	.nowPlaying .artist {
		font-size: 2vw;
	}

	.nowPlaying .album {
		font-size: 2vw;
	}

	.totalTimeTag,.remainingTimeTag {
		font-size: 2.0vw;
		float: none;
		position: absolute;
		display: inline;
		right: -12%;
		top: 1px;
		margin: 0px;
	}

	.totalTimeTag {
		right: -23%;
	}

	.PlayButton{
		height: 8vw;
		width: 8vw;
		transform: translate(0%, 0%);
		top: 2%;
	    left: 27%;
		border-width: 0.5vw;
		color: #0081cc;
		font-size: 3vw;
	}

	.volumeSliderWrapper {
	    top: 30%;
	    flex-wrap: nowrap;
	    -webkit-transform: translate(0%, -18%);
	 	-moz-transform: translate(0%, -18%);
	 	-ms-transform: translate(0%, -18%);
		}
}