.library-wrapper {
	height: 85%;
	margin: 0px 5px 0px 50px;
}

.library {
	height: 100%;
}

.playlist {
	height: 100%;
	background-color: white; 
}

.listItem {
	background-color: #0081cc;
	border: 1px solid #103b59;
	padding-left: 10px;
}

.listItem .title {
	font-family: 'KoHo', sans-serif;
	font-size: 20px;
	margin: 0px;
}

.listItem .artist {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	margin: 0px;
}

.listItem .album {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	margin: 0px;
}

.artistList {
	height: 100%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	
}

.artistItem {
	width: 22vw;
	height: 22vh;
	margin: 5px 0px 5px 10px;
	background-color: #0081cc;
	border: 1px solid #103b59;
	text-align: center;
	justify-items: left;
}

.artistItem .artistImg {
	float: left;
	height: 100%;
	width: 50%;
}